$color: white;

.navbar-nav {
    a {
        color: $color;
    }
    li.active a {
        border: 1px solid $color;
    }
}

h1 {
    color: $color;
}

img {
    width: 150px;
    height: auto;
}

#borderimg {
    padding: 5px;
    border: 2px solid black;
}

.summary {
    text-indent: 50px;
    text-align: justify;
    padding: 5px 20px;
}

header {
    background-color: lightgray;
}