$base-color: white;

%shared-style {
    height: auto;
    margin-top: 30px;
    float: left;
    padding: 5px 20px;
} 

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/background.jpg);
    height: 110vh;
    background-size: cover;
    background-position: center;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 30px;
    li {
        display: inline-block;
    }
    a {
        color: $base-color;
        text-decoration: none;
        padding: 5px 20px;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
    }
    a:hover {
        border: 1px solid $base-color;
    }
    li.active a {
        border: 1px solid $base-color;
    }
}

#title {
    @extend %shared-style;
}

#middle {
    @extend %shared-style;
}

h1 {
    color: $base-color;
}

p {
    color: $base-color;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    text-indent: 50px;
    text-align: justify;
}

@media (max-width: 600px) {
    h1, p {
      color: black;
      font-weight: bolder;
    }
}